body { 
    /* background: url(../img/wallpaper.jpg) no-repeat center center fixed;   */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
img{
  background-color: transparent;
}
/* HIDE THE DIV ELEMENT*/
.hideIt{
    display: none;
}

/*----------------------------------------------------------------------------------*/
.btn-outline-danger {
    position: relative;
    cursor: help;
  }

  .btn-outline-danger span {
    display: none;
    z-index: 100;
    position: absolute;
    padding: .2em;
    top: 2.3em;
    left: 6.2em;
    width: 10em;
    color:rgb(0, 0, 0);
    background-color: rgba(255, 0, 0, 0.4);
    border-radius: 0.4em;

  }
  .btn-outline-danger:hover span {
    display: inline-block;
  }


/*-----------------------------------------------------------------------------------*/

.btn-outline-primary {
  position: relative;
  cursor: help;
}
.btn-outline-primary span {
  display: none;
  z-index: 100;
  position: absolute;
  padding: .2em;
  top: 2.2em;
  left: 6.6em;
  width: 10em;
  color:black;
  background-color: rgba(93, 93, 195, 0.4);
  border-radius: 0.4em;
  
}
.btn-outline-primary:hover span {
  display: inline-block;
}
/*-----------------------------------------------------------------------------------*/
.btn-outline-success {
  position: relative;
  cursor: help;
}
.btn-outline-success span {
  display: none;
  z-index: 100;
  position: absolute;
  padding: .2em;
  top: 2.3em;
  left: 6.5em;
  width: 10em;
  color:rgb(0, 0, 0);
  background-color: rgba(0, 255, 13, 0.534);
  border-radius: 0.4em;
  
}
.btn-outline-success:hover span {
  display: inline-block;
}
/*----------------------------------------------------------------------------------*/
.saveRecord {
  position: relative;
  cursor: help;
}
.saveRecord span {
  display: none;
  z-index: 100;
  position: absolute;
  padding: .2em;
  top: 2.3em;
  left: 5em;
  width: 10em;
  color:rgb(0, 0, 0);
  background-color: rgba(0, 255, 13, 0.534);
  border-radius: 0.4em;
  
}
.saveRecord:hover span {
  display: inline-block;
}
/*----------------------------------------------------------------------------------*/
.btn-outline-warning {
  position: relative;
  cursor: help;
}
.btn-outline-warning span {
  display: none;
  z-index: 100;
  position: absolute;
  padding: .2em;
  top: 2.3em;
  left: 6.4em;
  width: 10em;
  color:rgb(0, 0, 0);
  background-color: rgba(241, 237, 0, 0.609);
  border-radius: 0.4em;
  
}
.btn-outline-warning:hover span {
  display: inline-block;
}
/*---------------------------------------------------------------------------------*/

.table
{
  overflow: visible;
}
.update {
  
  width: 120px;
}
input[readonly]{
  background-color:transparent;
  border:0px;
  border:none;
  text-align: center;
  height: 35px;
}
.table
{
  overflow: visible;
}
.saveRecord, .cancel {
  display:none;
}
.New{
  width: 120px;
  text-align: center;
  border:0px;
  height: 35px;
}
.add:hover .fa-user-plus{
  color:white;
}